* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #09c;
}

.page {
  min-height: 100vh;
  background: var(--main-color);
  transition: background-color 0.5s ease-in-out;
}

.card-text {
  max-width: 450px;
  height: auto;
}

.card {
  --bs-card-border-width: 0;
  color: var(--main-color);
}

#new-quote {
  background-color: var(--main-color);
}

.fa-twitter {
  stroke: var(--main-color);
}

.btn {
  --bs-btn-border-width: 0;
}

.card #other-image-container {
  content: "";
  top: -50px;
  left: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  background: var(--main-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#other-image-container img {
  opacity: 0.8;
}
